
@main-color:#011AD0;
@main-width:900px;

*{margin: 0;padding: 0}
html{}
body{font-size: 16px;font-family:PingFangSC,"微软雅黑体","Microsoft Yahei";}
ul{list-style: none}
a,a:hover,a:focus{text-decoration: none}

.main-width{width: @main-width}

.container{
  position: absolute;
  top: 0;
  width: 100%;
  .page-box{
    .page-box-header{
      padding: 50px 0;
      text-align: center;
    }
    .page-box-container{
      margin: 0 auto;
      .main-width;
    }
    &.page-box-1{
      height: 481px;
      background-image: url("/img/Background_Page1.png");
      background-size: cover;
      .page-box-1-nav{
        padding: 15px 0;
        .page-box-1-logo{
          float: left;
        }
        ul{
          padding: 10px 0;
          float: right;
          li{
            width: 80px;
            float: left;
            a{
              color: white;
              font-size: 16px;
            }
          }
        }
      }
      .page-box-1-slogan{
        margin-top: 129px;
        p{
          font-size: 40px;
          color: white;
          text-align: center;
          font-weight: 100;
        }
        a{
          text-align: center;
          height: 52px;
          width: 192px;
          line-height: 52px;
          display: block;
          margin: 50px auto;
          background: white;
          border: none;
          border-radius: 30px;
          font-size: 12px;
          color: @main-color;
          font-weight: lighter;
        }
      }
    }
    &.page-box-2{

    }
    &.page-box-3{
      height: 489px;
      .page-box-header{
        color:#999EBD;
      }
      img{
        display: block;
        margin: 0 auto 40px;
      }
      p{
        color: #505576;
        line-height: 30px;
        text-align: center;
      }
    }
    &.page-box-4{
      height: 575px;
      background-image: url("/img/Background_Page3.png");
      background-size: cover;
      .page-box-header{
        color: white;
        font-size: 18px;
      }
      .h-400{
        height: 400px;
      }
      .h-198{
        height: 198px;
      }
      .page-box-panel{
        width: @main-width/3-4px;
        margin: 2px;
        float: left;
        background-color: white;
        .page-box-panel-number{
          color:@main-color;
          font-weight: 100;
          text-align: center;
          font-size: 72px;
          padding-top: 15px;
        }
        .page-box-panel-title{
          padding: 10px 0 15px;
          font-size: 32px;
          color: #505576;
          text-align: center;
        }
        .page-box-panel-content{
          padding: 23px;
          font-size: 18px;
          line-height: 36px;
          color: #505576;
        }
      }
    }
    &.page-box-5{
      height: 827px;
      background-color: #F7F7F7;
      color: #383838;
      .page-box-header{
        color: #BDBDBD;
        font-size: 16px;
      }
      .page-box-intro{
        font-size: 24px;
        text-align: center;
      }
      .page-box-container{
        margin-top: 150px;
      }
      .page-box-panel{
        float: left;
        width: @main-width/3-8px;
        margin: 4px;
        background-color: white;
        text-align: center;
        .page-box-panel-avatar{
          width: 120px;
          margin-top: -60px;
        }
        .page-box-panel-name{
          font-size: 18px;
          font-weight: bold;
        }
        .page-box-panel-intro{
          font-size: 14px;
          font-weight: bold;
        }
        .page-box-panel-detail{
          font-size: 14px;
          padding: 22px;
        }
      }
    }
    &.page-box-6{
      background-color: #1F2448;
      color: white;
      height: 415px;
      text-align: center;
      padding: 30px;
      .page-box-title{
        padding: 80px 0 40px;
        font-weight: 100;
        font-size: 36px;
      }
      .page-box-name{
        padding-bottom: 40px;
        font-weight: bold;
        font-size: 18px;
      }
      .page-box-others{
        font-weight: lighter;
        line-height: 30px;
      }
    }
  }
}