* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: PingFangSC, "微软雅黑体", "Microsoft Yahei";
}
ul {
  list-style: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
.main-width {
  width: 900px;
}
.container {
  position: absolute;
  top: 0;
  width: 100%;
}
.container .page-box .page-box-header {
  padding: 50px 0;
  text-align: center;
}
.container .page-box .page-box-container {
  margin: 0 auto;
  width: 900px;
}
.container .page-box.page-box-1 {
  height: 481px;
  background-image: url("/img/Background_Page1.png");
  background-size: cover;
}
.container .page-box.page-box-1 .page-box-1-nav {
  padding: 15px 0;
}
.container .page-box.page-box-1 .page-box-1-nav .page-box-1-logo {
  float: left;
}
.container .page-box.page-box-1 .page-box-1-nav ul {
  padding: 10px 0;
  float: right;
}
.container .page-box.page-box-1 .page-box-1-nav ul li {
  width: 80px;
  float: left;
}
.container .page-box.page-box-1 .page-box-1-nav ul li a {
  color: white;
  font-size: 16px;
}
.container .page-box.page-box-1 .page-box-1-slogan {
  margin-top: 129px;
}
.container .page-box.page-box-1 .page-box-1-slogan p {
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: 100;
}
.container .page-box.page-box-1 .page-box-1-slogan a {
  text-align: center;
  height: 52px;
  width: 192px;
  line-height: 52px;
  display: block;
  margin: 50px auto;
  background: white;
  border: none;
  border-radius: 30px;
  font-size: 12px;
  color: #011AD0;
  font-weight: lighter;
}
.container .page-box.page-box-3 {
  height: 489px;
}
.container .page-box.page-box-3 .page-box-header {
  color: #999EBD;
}
.container .page-box.page-box-3 img {
  display: block;
  margin: 0 auto 40px;
}
.container .page-box.page-box-3 p {
  color: #505576;
  line-height: 30px;
  text-align: center;
}
.container .page-box.page-box-4 {
  height: 575px;
  background-image: url("/img/Background_Page3.png");
  background-size: cover;
}
.container .page-box.page-box-4 .page-box-header {
  color: white;
  font-size: 18px;
}
.container .page-box.page-box-4 .h-400 {
  height: 400px;
}
.container .page-box.page-box-4 .h-198 {
  height: 198px;
}
.container .page-box.page-box-4 .page-box-panel {
  width: 296px;
  margin: 2px;
  float: left;
  background-color: white;
}
.container .page-box.page-box-4 .page-box-panel .page-box-panel-number {
  color: #011AD0;
  font-weight: 100;
  text-align: center;
  font-size: 72px;
  padding-top: 15px;
}
.container .page-box.page-box-4 .page-box-panel .page-box-panel-title {
  padding: 10px 0 15px;
  font-size: 32px;
  color: #505576;
  text-align: center;
}
.container .page-box.page-box-4 .page-box-panel .page-box-panel-content {
  padding: 23px;
  font-size: 18px;
  line-height: 36px;
  color: #505576;
}
.container .page-box.page-box-5 {
  height: 827px;
  background-color: #F7F7F7;
  color: #383838;
}
.container .page-box.page-box-5 .page-box-header {
  color: #BDBDBD;
  font-size: 16px;
}
.container .page-box.page-box-5 .page-box-intro {
  font-size: 24px;
  text-align: center;
}
.container .page-box.page-box-5 .page-box-container {
  margin-top: 150px;
}
.container .page-box.page-box-5 .page-box-panel {
  float: left;
  width: 292px;
  margin: 4px;
  background-color: white;
  text-align: center;
}
.container .page-box.page-box-5 .page-box-panel .page-box-panel-avatar {
  width: 120px;
  margin-top: -60px;
}
.container .page-box.page-box-5 .page-box-panel .page-box-panel-name {
  font-size: 18px;
  font-weight: bold;
}
.container .page-box.page-box-5 .page-box-panel .page-box-panel-intro {
  font-size: 14px;
  font-weight: bold;
}
.container .page-box.page-box-5 .page-box-panel .page-box-panel-detail {
  font-size: 14px;
  padding: 22px;
}
.container .page-box.page-box-6 {
  background-color: #1F2448;
  color: white;
  height: 415px;
  text-align: center;
  padding: 30px;
}
.container .page-box.page-box-6 .page-box-title {
  padding: 80px 0 40px;
  font-weight: 100;
  font-size: 36px;
}
.container .page-box.page-box-6 .page-box-name {
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 18px;
}
.container .page-box.page-box-6 .page-box-others {
  font-weight: lighter;
  line-height: 30px;
}
